<article class="product container has-background-primary-100">
  <section class="product__card card mb-3">
      <div class="card-image">
        <% product.images.each do |image| %>
        <figure class="image is-4by3">
          <%= image_tag image.variant(:preview), alt: product.name %>s
          <figcaption><%= product.name %></figcaption>
        </figure>
        <% end %>
      </div>
      <div class="card-content">
        <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                  <%= image_tag product.talent.photo.variant(:thumb), alt: product.talent.full_name %>
                  <figcaption><%= product.talent.full_name.titleize %></figcaption>
              </figure>
            </div>
            <div class="media-content">
              <h4 class="title is-4">
                <%= link_to product.talent.full_name.titleize, landing_page_path(CGI.escape product.talent.handle), class: "has-text-dark"  %>
              </h4>
              <p class="subtitle is-6">
                <%= link_to "@#{product.talent.handle}", landing_page_path(CGI.escape product.talent.handle) %>
              </p>
            </div>
        </div>
        <div class="content">
            <h3 class="is-size-3 has-text-weight-light">
              <%= link_to product.name.titleize, landing_page_path(CGI.escape product.slug) %>
            </h3>
            <p>
              <%= product.description.truncate_words(35, ommision: "...") %>
              <% product.hashtags.each do |hashtag| %>
                <%= link_to "##{hashtag.name}", landing_page_path(CGI.escape hashtag.name), rel: "tag"  %>
              <% end %>
            </p>
        </div>
      </div>
  </section>
</article>
