<!DOCTYPE html>
<html>
  <head>
    <title>CreativeturtlesIo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "shared/nav_bar" %>
    <%= yield :header %>
    <%= yield %>
    <%= yield :footer %>
  </body>
</html>
