<!DOCTYPE html>
<html>
  <head>
    <title>CreativeturtlesIo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= javascript_importmap_tags %>
    <% if current_user.present? %>
      <meta name="current_user" content="<%= current_user.id %>">
      <meta name="websocket_url" content="<%= ENV['WEBSOCKET_URL'] %>">
    <% end %>
  </head>

  <body>
    <%= render partial: "shared/nav_bar" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield :header %>
    <%= yield %>
    <%= yield :footer %>
  </body>
</html>
